/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #008080;
}

/* Контейнер */
.container {
    width: 500px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Кнопка "Назад" */
.back-button {
    position: static;
    order: -1;
    align-self: flex-start;
    margin-bottom: 5px;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.back-button:hover {
    background-color: #007bff;
    color: white;
}

/* Заголовок с ФИО */
.patient-name {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 0;
}

/* Информация о пациенте */
.patient-info {
    font-size: 16px;
    max-width: 70%;
    flex-grow: 1;
    color: #555;
    margin: 0;
}

.patient-info p {
    margin: 10px 0;
}

/* Основные кнопки снизу */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
}

/* Значения под кнопками */
.value {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

/* Кнопки справа */
.side-buttons {
    position: absolute;
    top: 120px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Общие стили для кнопок */
.action-button {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 14px;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.index-value {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
}

.action-button:hover {
    background-color: #007bff;
    color: white;
}

.action-button:hover .index-value {
    color: white;
}